body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    margin: 0;
    color: rgb(111, 183, 247);
    
}
.clock{
    font-size: 60px;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(240, 6, 6);
}